.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('../assets/pictures/profile.jpg');
  background-size: cover;
}

.mat-mdc-list-item-icon {
  color: rgba(0, 0, 0, 0.54);
}
